{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <title>{% block title %}{{ meta_title }}{% endblock %}</title>
</head>
<body>
    <div class="wrapper" id="header">
        <div class="wrapper-inner">
            <div class="logo">Python Learn Project</div>
            <div class="header-menu">
                <ul>
                    <li>
                        <a href="{% url 'home:index' %}" title="Главная">Главная</a>
                    </li>
                    <li>
                        <a href="{% url 'passwordgenerator:index' %}" title="Генератор паролей">Генератор паролей</a>
                    </li>
                    <li>
                        <a href="{% url 'nickgenerator:index' %}" title="Генератор ников">Генератор ников</a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="wrapper" id="content">
        <div class="wrapper-inner">
            {% block content %}
                <div class="title">{{ title }}</div>
                <div class="description">
                    <p>Данный проект реализован исключительно в образовательных целях для изучения языка Python и фреймворка Django.</p>
                    <p>Реализованные здесь приложения охватывают различные аспекты изучаемых технологий, поэтому выбранны только из-за этого. Однако практическую пользу в реальной работе им также можно найти.</p>
                    <p>Приложения:</p>
                    <ul>
                        <li>Сайт</li>
                        <li>Генератор паролей</li>
                        <li>Генератор ников</li>
                        <li>Генератор случайных чисел</li>
                        <li>Конвертер времени</li>
                        <li>Калькулятор</li>
                        <li>Погода</li>
                        <li>To-Do</li>
                        <li>Авторизация и личный кабинет пользователя</li>
                        <li>Блог</li>
                    </ul>
                </div>
            {% endblock %}
        </div>
    </div>

    <div class="wrapper" id="footer">
        <div class="wrapper-inner">
            <div class="copyright">
                &copy; 2020 <a href="https://github.com/greenkaktusx" title="GitHub" target="_blank">Alexeev Alexey</a>
            </div>
        </div>
    </div>
</body>
</html>