html, body { margin: 0; padding: 0; min-height: 100vh; font-family: Tahoma, sans-serif; background: #3c3f41; }
html, body, html *, body * { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; color: #ffffff; }

.clear { clear: both; }

.wrapper { width: 100%; }
.wrapper-inner { width: 1200px; margin: 0 auto; }

#header { height: 50px; padding: 15px 0; }
#header, #footer { background: #272822; }
#header, #header a, #footer, #footer a { color: #d5d5d5; }
#header a, #footer a { text-decoration: none; }
#header a:hover, #footer a:hover { color: #ffffff; }

#footer { height: 30px; padding: 7px 0; }
#footer .copyright { font-size: 14px; }

#content { min-height: calc(100vh - 80px); padding: 40px 0; }

.title { color: #ffffff; font-size: 26px; }
.description { color: #d5d5d5; font-size: 16px; padding: 15px 0; }

.logo { float: left; font-weight: bold; font-size: 18px; }
.header-menu { float: right; }
.header-menu ul { margin: 0; padding: 0; list-style: none; }
.header-menu ul > li { display: inline-block; font-size: 14px; margin: 0 10px 0 0; }
.header-menu ul > li:last-child { margin-right: 0; }

