{% extends 'base.html' %}

{% block title %}{{ meta_title }}{% endblock %}

{% block content %}
    <div class="title">{{ title }}</div>
    <p>Укажите необходимые параметры и нажмите кнопку "Сгенерировать"</p>
    <form action="{% url 'passwordgenerator:index' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {% if field.name == 'count' or field.name == 'length' %}
                    {{ field.label_tag }}
                    {{ field }}
                {% else %}
                    {{ field }}
                    {{ field.label_tag }}
                {% endif %}
            </p>
        {% endfor %}
        <button type="submit">Сгенерировать</button>
    </form>

    {% if password %}
        <br/>
        Сгенерированный пароль:<br/>
        {{ password }}
    {% endif %}
{% endblock %}