{% extends 'base.html' %}

{% block title %}{{ meta_title }}{% endblock %}

{% block content %}
    <div class="title">{{ title }}</div>
    <p>Укажите необходимые параметры и нажмите кнопку "Сгенерировать"</p>
    <form action="{% url 'passwordgenerator:index' %}" method="post">
        {% csrf_token %}
        <input type="checkbox" name="digit" id="digit" checked="checked" />
        <label for="digit">цифры 0-9</label><br/>

        <input type="checkbox" name="smallSymbols" id="smallSymbols" checked="checked" />
        <label for="smallSymbols">маленькие буквы a-z</label><br/>

        <input type="checkbox" name="bigSymbols" id="bigSymbols" checked="checked" />
        <label for="bigSymbols">большие буквы A-Z</label><br/>

        <input type="checkbox" name="specialSymbols" id="specialSymbols" />
        <label for="specialSymbols">специальные символы %, *, ), ?, @, #, $, ~</label><br/>

        <input type="checkbox" name="skipDoubles" id="skipDoubles" />
        <label for="skipDoubles">избегать повторяющихся символов</label><br/>

        <input type="checkbox" name="skipSimilar" id="skipSimilar" />
        <label for="skipSimilar">избегать похожие символы i, l, 1, L, o, 0, O</label><br/>

        <label for="count">Количество паролей</label><br/>
        <input type="text" name="count" id="count" value="6" /><br/>

        <label for="length">Длина пароля</label><br/>
        <input type="text" name="length" id="length" value="12" /><br/><br/>

        <button type="submit">Сгенерировать</button>
    </form>
{% endblock %}